In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./student.csv")

In [3]:
data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

In [4]:
data.shape

(20, 10)

In [5]:
print("Missing value: ", data.isnull().sum().sum())
data.isnull().sum()

Missing value:  15

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       3
เพศ                        2
คณะ                        2
GPA                        2
ส่วนสูง_cm                 1
น้ำหนัก_kg                 2
ชั่วโมงเรียน_ต่อสัปดาห์    2
วันที่ลงทะเบียน            0
dtype: int64

In [6]:
data_clean_up = data.copy()

In [7]:
data_clean_up.dtypes

รหัสนักศึกษา                 int64
ชื่อ                        object
อายุ                       float64
เพศ                         object
คณะ                         object
GPA                        float64
ส่วนสูง_cm                 float64
น้ำหนัก_kg                 float64
ชั่วโมงเรียน_ต่อสัปดาห์    float64
วันที่ลงทะเบียน             object
dtype: object

In [8]:
def gender_std(x):

  if x in ["Male", "ช", "M"]:
    return "ชาย"
  elif x in ["Female", "ญ", "F", "Female"]:
    return "หญิง"
  else:
    return x

In [9]:
def faculty_std(x):
  if x in ["วิทย์", "คณะวิทยาศาสตร์", "Sci", "Science"]:
    return "วิทยาศาสตร์"
  elif x in ["วิศวฯ", "วิศวกรรม", "วิศวะ", "Engineering"]:
    return "วิศวกรรมศาสตร์"
  elif x in ["ศิลป์", "Arts", "Liberal Arts"]:
    return "ศิลปศาสตร์"
  else:
    return x

In [10]:
Q1 = data_clean_up['อายุ'].quantile(0.25)
Q3 = data_clean_up['อายุ'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [11]:
def age_std(x):
  if x <lower_bound or x > upper_bound:
    return data_clean_up['อายุ'].mean()
  else:
    return x

In [12]:
data_clean_up['เพศ'] = data_clean_up['เพศ'].apply(gender_std)

In [13]:
data_clean_up['คณะ'] = data_clean_up['คณะ'].apply(faculty_std)

In [14]:
data_clean_up['อายุ'] = data_clean_up['อายุ'].apply(age_std)

In [15]:
data_clean_up["GPA"] = data_clean_up["GPA"].abs()

In [16]:
n1 = data_clean_up["อายุ"].mean()
n2 = data_clean_up["GPA"].mean()
n3 = data_clean_up["ส่วนสูง_cm"].mean()
n4 = data_clean_up["น้ำหนัก_kg"].mean()
n5 = data_clean_up["ชั่วโมงเรียน_ต่อสัปดาห์"].mean()

In [17]:
data_clean_up["อายุ"] = data_clean_up["อายุ"].fillna(n1)
data_clean_up["GPA"] =data_clean_up["GPA"].fillna(n2)
data_clean_up["ส่วนสูง_cm"] =data_clean_up["ส่วนสูง_cm"].fillna(n3)
data_clean_up["น้ำหนัก_kg"] =data_clean_up["น้ำหนัก_kg"].fillna(n4)
data_clean_up["ชั่วโมงเรียน_ต่อสัปดาห์"] =data_clean_up["ชั่วโมงเรียน_ต่อสัปดาห์"].fillna(n5)

In [18]:
data_clean_up["เพศ"] = data_clean_up["เพศ"].fillna(data_clean_up["เพศ"].mode()[0])
data_clean_up["คณะ"] = data_clean_up["คณะ"].fillna(data_clean_up["คณะ"].mode()[0])

In [19]:
data_clean_up = data_clean_up.dropna()

In [20]:
data_clean_up

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-01-23
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.000000,2024-02-05
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,1.000000,168.000000,70.000000,10.000000,2023-12-30
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.000000,2024-01-27
5,64006,กานต์,28.470588,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.000000,2023-12-23
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.500000,158.000000,48.000000,35.000000,2024-01-05
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-01-23
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.000000,2024-02-11
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.000000,2024-01-03
10,64011,ธีระ,21.321799,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,21.388889,2024-01-07
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.357222,171.000000,63.611111,16.000000,2023-12-26
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.000000,2023-12-26
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.000000,2024-01-08
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.000000,2024-02-06
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-20
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-24
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.000000,2024-01-08
18,64019,รัตนา,21.321799,ชาย,ศิลปศาสตร์,3.357222,174.000000,76.000000,21.388889,2023-12-18
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.000000,2024-01-06

In [21]:
student_health = data_clean_up.copy()
student_health['BMI'] = student_health['น้ำหนัก_kg'] / (student_health['ส่วนสูง_cm']/100)**2
student_health['สุขภาพ'] = pd.cut(student_health['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

student_health

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,BMI,สุขภาพ
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-01-23,22.491349,ปกติ
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.000000,2024-02-05,21.303949,ปกติ
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,1.000000,168.000000,70.000000,10.000000,2023-12-30,24.801587,ปกติ
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.000000,2024-01-27,20.312500,ปกติ
5,64006,กานต์,28.470588,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.000000,2023-12-23,25.351541,อ้วน
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.500000,158.000000,48.000000,35.000000,2024-01-05,19.227688,ปกติ
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-01-23,25.308642,อ้วน
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.000000,2024-02-11,20.700817,ปกติ
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.000000,2024-01-03,21.513859,ปกติ
10,64011,ธีระ,21.321799,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,21.388889,2024-01-07,24.183802,ปกติ
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.357222,171.000000,63.611111,16.000000,2023-12-26,21.754082,ปกติ
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.000000,2023-12-26,25.209201,อ้วน
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.000000,2024-01-08,20.077335,ปกติ
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.000000,2024-02-06,21.338211,ปกติ
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-20,26.061679,อ้วน
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-24,22.499637,ปกติ
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.000000,2024-01-08,19.289379,ปกติ
18,64019,รัตนา,21.321799,ชาย,ศิลปศาสตร์,3.357222,174.000000,76.000000,21.388889,2023-12-18,25.102391,อ้วน
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.000000,2024-01-06,22.675737,ปกติ